# Environments
.env
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Python cache / compiled files
__pycache__/
*.py[cod]
*$py.class

# Test / Coverage
.pytest_cache/
.coverage
.coverage.*
htmlcov/

# IDEs
.idea/
.vscode/

# Database / OS
*.sqlite3
.DS_Store

# Node.js
node_modules/
docker/nodered/.config*.json
docker/nodered/*.backup
docker/nodered/node_modules/
