aiokafka>=0.11.0
httpx>=0.27.0
pydantic-settings==2.2.1
fastapi
uvicorn
pytest
pytest-asyncio
mlflow==2.19.0
psycopg2-binary>=2.9.0
scikit-learn>=1.0.0
joblib>=1.0.0
pandas>=1.3.0
sqlalchemy>=2.0
redis>=5.0
