# Postgres Core Database
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_secure_password
POSTGRES_DB=ontime_db
POSTGRES_PORT=5432

# InfluxDB Time-Series Telemetry (Init Setup)
INFLUXDB_INIT_MODE=setup
INFLUXDB_INIT_USERNAME=admin
INFLUXDB_INIT_PASSWORD=adminpassword
INFLUXDB_INIT_ORG=ontime
INFLUXDB_INIT_BUCKET=telemetry
INFLUXDB_ADMIN_TOKEN=your_super_secret_auth_token
INFLUXDB_PORT=8086

# Redis Live Cache
REDIS_PORT=6379

# Kafka Broker Configuration (Local KRaft or Cloud AutoMQ)
KAFKA_BROKER_URL=broker:29092
# KAFKA_BROKER_URL=YOUR_CLOUD_AUTOMQ_URL_HERE
